body {
    margin: 0;
    background-color: #2C3333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.content {
    display: flex;
    background-color: #395B64;
    width: 100%;
    flex: 1;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: #A5C9CA;
    width: 25%;
    margin: 16px 8px;
}

#container {
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: white;
    margin: 16px 8px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

h1 {
    color: #E7F6F2;
    font-family: monospace;
}

h2 {
    display: flex;
    justify-content: center;
    color: #395B64;
    font-family: monospace;
}

button {
    font-family: monospace;
    font-size: x-large;
    background-color: #2C3333;
    color: #E7F6F2;
    border: 4px solid #2C3333;
    border-radius: 4px;
    margin: 0px 16px;
    padding: 8px;
}

input {
    margin-left: 16px;
    background-color: #E7F6F2;
    border: 2px solid #E7F6F2;
    border-radius: 4px;
    height: 47px;
    width: 45%
}

.color-button {
    display: flex;
    justify-content: center;
}

.color {
    width: 45%;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.grid-item:hover {
    background-color: grey;
}